html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  padding-top: 4.5rem;
}

.container {
  max-width: 960px;
  min-height: calc(100vh - 72px);
}

.card-deck .card {
  min-width: 220px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.list-group {
  max-height: 512px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

#messageList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messageList li {
  padding: 5px 10px;
}

#messageList li:nth-child(odd) {
  background: #eee;
}

#messageList {
  margin-bottom: 20px;
}

li > p {
  margin-bottom: 0px;
}

li > pre {
  font-size: x-small;
  margin-bottom: 0px;
}
